body {
    margin-left: 2em;
    margin-right: 2em;
}

h2 {
    color: black;
    margin-bottom: 10px;
}

ul {
    font-family: "Dongle";
    font-size: 32px;   
    font-weight: 400;
    margin-top: 10px;
}